<mat-card class="register-card">
    <mat-card-header>
        <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form #registerForm="ngForm" class="register-form">
            <table class="register-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="register-full-width">
                            <input matInput placeholder="First Name" [(ngModel)]="firstName" name="firstName" required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="register-full-width">
                            <input matInput placeholder="Last Name" [(ngModel)]="lastName" name="lastName" required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="register-full-width">
                            <!-- <input matInput placeholder="Email" type="email" [(ngModel)]="email" name="email" required> -->
                            <input matInput type="text" placeholder="Email" class="form-control" name="email" [(ngModel)]="email" #emailField="ngModel" [ngClass]="{ 'is-invalid': registerForm.submitted && emailField.invalid }" required email />
                        </mat-form-field>
                        <div *ngIf="emailField.invalid" class="invalid-feedback">
                            <div *ngIf="emailField.errors.email"><span style="color: red;">Email must be a valid email address</span></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="register-full-width">
                            <input matInput placeholder="Password" [(ngModel)]="password" name="password" type="password" required>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
        </form>
        <!-- <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner> -->
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button [disabled]="!registerForm.valid" (click)="register()" color="primary">Register</button>
    </mat-card-actions>
</mat-card>