<mat-card class="login-card">
    <mat-card-header>
        <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="loginForm" class="login-form" (ngSubmit)="onSubmit()">
            <table class="login-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="login-full-width">
                            <input matInput type="email" formControlName="email" placeholder="Email" required>
                        </mat-form-field>
                    </td>
                </tr>
                <p>
                    Value: {{loginForm.get('email').value}}
                </p>
                <tr>
                    <td>
                        <mat-form-field class="login-full-width">
                            <input matInput formControlName="password" placeholder="Password" type="password" required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
                        <mat-card-actions>
                            <!-- Button needs to be inside form in order to submit -->
                            <button mat-raised-button type="submit" [disabled]="!loginForm.valid" color="primary">Login</button>
                        </mat-card-actions>
                    </td>
                </tr>
            </table>
        </form>
    </mat-card-content>
</mat-card>